{
  "sourceMaps": false,
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "dynamicImport": false,
      "decorators": false
    },
    "loose": true,
    "target": "es2016"
  }
}
