{
  "sourceMaps": false,
  "module": {
    "type": "es6"
  },
  "env": {
    "targets": {
      "node": "14"
    }
  },
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "dynamicImport": false,
      "decorators": false
    },
    "loose": true
  }
}
